<%= render 'shared/navbar' %>
<div class="container">
  <div class="banner">
      <div class="homepage-content">
        <h1>DreamSharing</h1>
        <h3>Sleep, Dream and Share it!</h3>
        <%= link_to 'Share your Dreams', new_user_registration_path,class: 'btn btn-lg dreamshare-primary' %>
        <%= link_to 'Log in',  new_user_session_path, class: 'btn  dreamshare-secondary' %>
      </div>
  </div>
</div>

