.navbar {
  margin-bottom: 0;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 82px;
  width: 100%;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.navbar i {
  padding: 15px 45px;
  font-size: 30px;
  color: $black;
}

.navbar i:active {
  color: $light-green
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}


