.dreamshare-primary {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: white;
  background-color: $light-green;
  margin-top: 30px;
}

.form-button {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: white;
  background-color: $light-green;
  margin-top: 20px;
}

.edit-form-button {
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: white;
  background-color: $light-green;
  margin-top: 20px;
  margin-bottom: 30px;
}


