/* Main navbar */
.navbar-home {
  background: transparent;
  transition: all 0.3s ease;
  height: 75px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-brand img {
  height: 50px;
}
