input[type="file"] {
  display: none;
}

.user-avatar {
  color: white;
  font-weight: lighter;
}

.user_photo {
  display: none;
}

.cancel-heading {
  text-align: center;
  margin-top: 10px;
  a {
    color: white;
  }
}

.statements {
  color: white;
}

.statements a {
  color: $light-green;
}

.statement-heading {
  margin-top: 10px;
}
